@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Calculator {
  background-color: #3a4452;
  padding: 20px;
  border-radius: 10px;
}
.Calculator form input {
  border: 5;
  outline: 0;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  /* filter: drop-shadow(2px 5px 8px black); */
  background: transparent;
  font-size: 20px;
  color: white;
  margin: 10px;
  cursor: pointer;
}
form .Display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .Display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal {
  width: 150px;
}
